@model List<StudentReg.Models.StudentView>

@{
    ViewData["Title"] = "Student Details";
    var SuccessMessage = TempData["SuccessMessage"]?.ToString();
    var ErrorMessage = TempData["ErrorMessage"]?.ToString();
}

<h3> @ViewData["Title"] </h3>
@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <div class="alert alert-success">
        <strong> Success! </strong>@SuccessMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <div class="alert alert-danger">
        <strong> Error! </strong>@ErrorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
<hr />
<form>
    <button asp-controller="Student" asp-action="Create" class="btn btn-primary mb-3">Create Student</button>
    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Email</th>
                <th class="text-center">College</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.ID</td>
                        <td>@student.Name</td>
                        <td>@student.Email</td>
                        <td>@student.College</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm">
                                <a asp-controller="Student" asp-action="Edit" asp-route-id="@student.ID" class="btn btn-primary">Edit</a>
                                <a asp-controller="Student" asp-action="Delete" asp-route-id="@student.ID" class="btn btn-danger">Delete</a>
                            </div> 
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No Student data present currently
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>